:root {
  --primaryColor: #4d455d;
  --secondaryColor: #e96479;
  --whiteColor: #fff;

  --fc-page-bg-color: var(--whiteColor);
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: var(--whiteColor);
  --fc-button-bg-color: var(--secondaryColor);
  --fc-button-border-color: var(--whiteColor);
  --fc-button-hover-bg-color: var(--primaryColor);
  --fc-button-hover-border-color: var(--secondaryColor);
  --fc-button-active-bg-color: var(--primaryColor);
  --fc-button-active-border-color: var(--primaryColor);

  --fc-event-bg-color: var(--primaryColor);
  --fc-event-border-color: var(--primaryColor);
  --fc-event-text-color: var(--whiteColor);
  --fc-event-selected-overlay-color: var(--primaryColor);
}

.fc-event-main-frame {
  white-space: normal;
}

.fc-day-grid-event > .fc-content {
  white-space: normal;
}

.fc-toolbar-title {
  color: var(--secondaryColor);
  font-size: 1rem;
}
