:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #4d455d;
  --fc-button-border-color: #fff;
  --fc-button-hover-bg-color: #e96479;
  --fc-button-hover-border-color: #fff;
  --fc-button-active-bg-color: #e96479;
  --fc-button-active-border-color: #fff;

  --fc-event-bg-color: #4d455d;
  --fc-event-border-color: #4d455d;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: #4d455d;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.fc-event-main-frame {
  white-space: normal;
}

.fc-day-grid-event > .fc-content {
  white-space: normal;
}
