:root {
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #ba68c8;
  --fc-button-border-color: #fff;
  --fc-button-hover-bg-color: #9c27b0;
  --fc-button-hover-border-color: #fff;
  --fc-button-active-bg-color: #9c27b0;
  --fc-button-active-border-color: #fff;

  --fc-event-bg-color: #ba68c8;
  --fc-event-border-color: #ba68c8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.fc-event-main-frame {
  white-space: normal;
}

.fc-day-grid-event > .fc-content {
  white-space: normal;
}
